@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: inline;
}


.jumbotron {
    
    font-size: 20px;
    padding: 60px;
    background-color: rgba(249, 105, 141, 0.7);
    text-align: center;
    color: white;
}

main {
    padding: 20px;
    overflow: auto;
}

nav {
    background-color: #CAF7E3;
    position: sticky;
    top: 0;
    padding: 1px;
    text-align: center;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: rgba(249, 105, 141, 0.7);
    transition: all 500ms;
}

nav a:hover {
    color: white;
    font-size: 30px;
    background-color:rgba(249, 105, 141, 0.7);
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

.img-content {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.img-c {
  width: 100%;
    max-height: 300px;
    object-fit: contain;
    object-position: center;
}

.text-content {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    background-color: #CAF7E3;
    
}

#content {
    float: left;
    width: 75%;
    
}

aside {
    float: right;
    width: 23%;
    padding:  10px auto;
    
}

.profile header {
    text-align: center;
}


.profile img {
    max-height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 5px;
    background-color: white;
}
.my-profil {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(249, 105, 141, 0.7);
  border-radius: 5px;
}
.profile table,
.profile th,
.profile td {
    float:unset;
    text-align: left;
    
}

.profile h3 {
    text-align: center;
}

footer {
    padding: 10px;
    color: white;
    background-color: rgba(249, 105, 141, 0.7);;
    text-align: center;
    font-weight: bold;
}

.kalkulator .flex-container-column {
    display: flex;
    flex-direction: column;
    /* properti pendukung */
    max-width: 800px;
    margin: 5 auto;
    text-align: right;
}

.kalkulator .flex-container-row {
    display: flex;
}

.kalkulator .button {
    flex-basis: 25%;
    /* properti pendukung */
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    background: -webkit-linear-gradient(top, #d2d2d2, #ddd);
    cursor: pointer;
}

.kalkulator .double {
    flex-basis: 50%;
}

.display {
    color: white;
    width: 100%;
    padding: 10px 20px;
    background-color: #333333;
    border: 1px solid black;
    font-size: 2em;
}

.kalkulator .operator,
.kalkulator .negative,
.kalkulator .equals {
    background: #E48ACB;
    opacity: 5;

}

.kalkulator .button:hover {
    font-weight: bold;
    text-shadow: 2px 2px 8px black;
}

.history {
    margin: 10px auto 0 auto;
}

.kalkulator table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

.kalkulator th,
td {
    text-align: center;
    padding: 5px;
}

.kalkulator th {
    background: #E48ACB;
    opacity: 5;
    color: white;
}

.kalkulator tr:nth-child(even) {
    background-color: #d2d2d2;
}

@media screen and (max-width: 513px) {
    .button {
        padding: 10px;
    }
}

@media screen and (max-width: 513px) {
    .button {
        padding: 10px;
    }
    .history {
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    #content,
    aside {
        width: 100%;
        padding: 0;
    }
}